body {
    width: 75%;
   margin: 0px auto;

   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

.btn-large {
  margin-left: 300px;
  margin-top: 30px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
