body {
    width: 75%;
   margin: 0px auto;

   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

.btn-large {
center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.submit {
  margin-left: 180px;
}
