body {
    width: 75%;
   margin: 0px auto;

   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-image: url("flame.png");

}

.btn-large {
center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  float: left;
}
.submit {
  margin-left: 180px;
}
